*{
     margin: 0px;
     padding: 0px;
}
body {
     font-family: "Abril Fatface", serif;
     background-image: linear-gradient(#1A2D2F, #EF7651);
     height: 100%;
}
.wrapper {
     width: 50%;
     margin: 0 auto;
     padding: 50px 0px 100px 0px;
     text-align: center;
     letter-spacing: 5px;

}
.tempWrapper{
     width: 100%;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
}
.landing {
     color: #FFC126;
     font-size: 75px;
}
.dataCont {
     width: 30%;
     display: flex;
     text-align: right;
     flex-flow: row wrap;
     justify-content: center;
}

#canvasHolder {
     width: 50%;
}
.temp {
     width: 100%;
     text-align: center;
}
p {
     font-family: "Karla";
}
